*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: black;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board{
  width: 640px;
  height: 640px;
  display: flex;
  flex-wrap: wrap;
}

.board div{
  width: 80px;
  height: 80px;
  cursor: pointer;
  box-shadow: 0.2rem 0.2rem #555;
}

.armed{
  border-radius: 50%;
  transform: scale(0.95);
  border: solid 4px crimson;
}

.score-board{
  color: white;
}

.game-over{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 4rem;
  height: 50vh;
  width: 50vh;
  background-color: #290029;
}