*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: black;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board{
  width: 645px;
  height: 645px;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid blue;
  background: linear-gradient(90deg, #3838eb, #0d1231);
}

.board div{
  width: 80px;
  height: 80px;
  cursor: pointer;
  box-shadow: 0.2rem 0.2rem #555;
}

.armed{
  border-radius: 50%;
  transform: scale(0.95);
  border: solid 4px crimson;
}

.score-board{
  color: white;
  margin: 0.2rem;
  padding: 0.25rem;
  width: 100%;
  text-align: center;
  background-color: black;
}

.game-over{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 4rem;
  height: 50vh;
  width: 50vh;
  background-color: #B026FF;
}

.game-over button{
  width: 12rem;
  height: 4rem;
  border: none;
  background-color: #000000;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  box-shadow: 0.2rem 0.1rem #555;
  transition: all 0.25s ease;
}

.game-over button:hover, .game-over button:focus{
  background-color: #2A2A2A;
  transform: translateY(0.1rem);
  box-shadow: 0.1rem 0.05rem #222;
}

.game-display{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  padding-bottom: 3rem;
  padding: 0.5rem 2rem;
  background-color: #B026FF;
}