*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  display: flex;
  flex-direction: column;
  padding: 30px;
  justify-content: center;
  align-items: center;
}

.board{
  width: 640px;
  height: 640px;
  display: flex;
  flex-wrap: wrap;
}

.board div{
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.armed{
  border-radius: 50%;
}